<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prueba">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Objetos.ServicioNotificaciones2"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".Objetos.ServicioNotificaciones"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".RecuperarContrasena" />
        <activity android:name=".AgregarUsuarioLocation" />
        <activity android:name=".CambioContrasena" />
        <activity android:name=".VisualizadorFotos" />
        <activity android:name=".AgregarUsuarioQR" />
        <activity android:name=".MiPerfil" />
        <activity android:name=".ChatRoom" />
        <activity
            android:name=".SolicitudAmistad"
            android:label="@string/title_activity_solicitud_amistad"
            android:parentActivityName=".HomePrincipal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AgregarUsuario"
            android:label="@string/title_activity_agregar_usuario"
            android:parentActivityName=".HomePrincipal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prueba.HomePrincipal" />
        </activity>
        <activity android:name=".HomePrincipal" />
        <activity android:name=".Registro" />
        <activity android:name=".Login" />
        <activity android:name=".SelectorLoginRegistro" />
        <activity android:name=".ScrollDeInicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>